Repository 9glenda/rust-ndb, changes with the labels that .github/labeler.yml gives for each.
All labels: nix â€º flake.lock, nix

.github/labeler.yml:

"nix â€º flake.lock":
  - flake.lock

"nix":
  - "*.nix"

feat: clippy fix
  src/main.rs
Labels: none

feat: added initial ndb parser
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/main.rs
  src/parser.rs
Labels: none

added LICENSE
  LICENSE
Labels: none

feat: added resutl to `.gitignore`
  .gitignore
Labels: none

style: fmt
  src/main.rs
  src/parser.rs
Labels: none

feat: make crate ready for publish
  Cargo.lock
  Cargo.toml
  README.md
  flake.nix
Labels: nix

style: fmt
  README.md
  flake.nix
Labels: nix

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

style: update README
  README.md
Labels: none

feat: add `extra-traits` feature
  Cargo.toml
  src/parser.rs
Labels: none

style: fmt
  README.md
Labels: none

style: fmt
  src/parser.rs
Labels: none

Extra traits (#4)
  Cargo.toml
  README.md
  src/parser.rs
Labels: none

feat: update license
  Cargo.toml
Labels: none

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock

flake.lock: Update
  flake.lock
Labels: nix â€º flake.lock
